[submodule "Code/lib/pico-sdk"]
	path = Code/lib/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
[submodule "Code/lib/Pico-DMX"]
	path = Code/lib/Pico-DMX
	url = https://github.com/jostlowe/Pico-DMX
[submodule "Code/lib/pico-ssd1306"]
	path = Code/lib/pico-ssd1306
	url = https://github.com/Harbys/pico-ssd1306
[submodule "Code/lib/ArtNet"]
	path = Code/lib/ArtNet
	url = https://github.com/Tommie1236/ArtNet
[submodule "Code/lib/Ethernet"]
	path = Code/lib/Ethernet
	url = https://github.com/Tommie1236/Ethernet
