[submodule "Code/lib/pico-sdk"]
	path = Code/lib/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
[submodule "Code/lib/ioLibrary_Driver"]
	path = Code/lib/ioLibrary_Driver
	url = https://github.com/Wiznet/ioLibrary_Driver
